body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: auto;
    background: rgb(110, 193, 196);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 10px;
    display: block;
    color: #555;
}

input[type="text"],
input[type="email"]{
    width: 95%;
}

textarea {
    width: 95%;
    resize: none;

}



input[type="text"],
input[type="email"],
textarea {
 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 30px;
}



input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: skyblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

    transition: background-color 1s ease;
}



button:hover {
    background-color: rgb(45, 114, 141);
}


@media (max-width: 600px) {
    form {
        padding: 15px;
    }
}